@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

main{
    margin-top:64px;
    margin-bottom:64px;
    margin-left:10%;
    display:flex;
    gap:32px;
}
aside{
    width:448px;
}
aside #body-header{
    letter-spacing:4px;
    font-size:70px;
    font-weight:400;
    font-family:"DM Sans",serif;
}

aside p,b{
    display:block;
    font-size:18px;
    font-family:"DM Sans", serif;
}

#apply-button{
    margin-top:32px;
    padding: 20px 30px;
    border-radius:10px;
    border:0px;
    background-color: rgba(98, 176, 255, 1);
    color:rgba(255, 255, 255, 1);
    font-size:20px;
    font-weight:700;
    font-family:"DM Sans", serif;
}
#apply-button:hover{
    cursor:pointer;
}
.communities{
    margin-left:10%;
}
.communities header{
    display:flex;
    gap:14px;
    margin-bottom:29px;
}

header #community-header{
    font-family:"DM Sans", serif;
    font-size:50px;
    font-weight:400;
}
.communityBoxes{
    display:flex;
    gap:31px;
}
#ai-box,#hack-box,#design-box{
    font-family:"DM Sans", serif;
    font-size:20px;
    font-weight:400;
    width:353px;
    height:205px;
    border-radius:10px;
    border-width:3px;
    border-style:solid;
    padding:30px 30px;
    box-sizing:border-box;
}

#ai-box{
    border-color:rgba(255, 111, 111, 1);
}
#ai{
    color:rgba(255, 110, 110, 1);
}

#hack-box{
    border-color:rgba(249, 167, 87, 1);
}
#hack{
    color:rgba(249, 167, 87, 1);
}

#design-box{
    border-color:rgba(255, 148, 180, 1);
}
#design{
    color:rgba(255, 148, 180, 1);
}

#button2{
    display:block;
    width:100%;
    text-align:center;
    margin-top:45px;
    margin-top:67px;
}

#past-projects-button{
    margin-bottom:67px;
    padding: 20px 30px;
    border-radius:10px;
    border:0px;
    background-color: rgba(98, 176, 255, 1);
    color:rgba(255, 255, 255, 1);
    font-size:20px;
    font-weight:700;
    font-family:"DM Sans", serif;
}

#past-projects-button:hover{
    cursor:pointer;
}