@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

footer{
    background-color:black;
    height:auto;
    width:100%;
    padding-top:55px;
}



.socials{
    display:grid;
    margin-left:35%;
    width:313px;
    grid-template-columns: [first] 50% [second] 50%;
    grid-template-rows: [row1-start] 52px [row2-start] 52px [row3-start] 52px [row3-end];
}
